*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #cd7d84;

}

.main-info{
    /* background-color: coral; */
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    /* Si quieren acomodar este div con mas le tienen que cambiar la propiedad de justify-content a space-between y descomentar la linea 22 */
    /* margin: 0 100px; */
}

h2{
    /* background-color: yellow; */
    padding-left: 50px;
    margin: 10px;
    color: white;
    font-size: 1.9rem;
}

p{
    /* background-color: aqua; */
    height: 100%;
    width: 400px;
    padding-right: 50px;
    text-align: center;
    color: white;
}

.footer-links{
    /* background-color: violet; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

a{
    margin: 10px;
    text-decoration: none;
    /* background-color: peru; */
    color: #cd7d84;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out .2s;
}

a:hover{
    background-color: rgba(255, 255, 255, .6);
}

.separador{
    height: 3px;
    background-color: white;
    width: 95%;
    margin: auto;
}

.footer-redes{
    /* background-color: chartreuse ; */
    width: 98.5%;
    height: 60px;
    margin: 10px;
}

.footer-redes-span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    font-size: 1.2rem;
    /* background-color: aquamarine; */
}

.footer-redes-iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}

img{
    width: 20px;
    height: 20px;
    margin: 0 7px;
}





